.wrap{
	width: 764px;
	height: 500px;
	background: url(../images/bg.png) no-repeat;
	margin: 50px auto;	
	padding-top: 52px;
}
.box{
	width: 440px;
	border-radius: 4px;
	margin:0 auto;
}
.txt{
	background:#fff url(../images/logo.png) no-repeat 98px 23px;
	line-height: 76px;
	color:#e15671;
	padding-left: 238px;
}
.content{
	background:#371e23;
}
#top{
	border:1px dotted #69585b;
	padding:24px 0 26px  19px;
}
.text{
	width:244px;
	border:1px solid #e15671;
	font-size: 16px;
	line-height: 34px;
	color:#fff;
	padding-left: 10px;
}
.btn{
	width:58px;
	border-radius: 4px;
	border:1px solid #e15671;
	font-size: 16px;
	line-height: 34px;
	color:#e15671;
	margin-left: 3px;
}
.btn1{
	background: #e15671;
	color:#fff;
}
#bottom{
	padding:24px 0 26px  19px;
}
.p1{
	font-size: 16px;
	line-height: 24px;
	color:#fff;
	float: left;
}
.p2{
	width: 24px;
	height: 24px;
	background: url(../images/bianji.png) no-repeat;
	margin-left: 25px; 
	float: left;
}
.div1{
	display: block;
}
.div2{
	display: none;
}