.wrap{
	background: url(../images/bg.png) no-repeat;
	padding: 152px 160px 142px;
	margin:0 auto;
}
.box{
	background: url(../images/bk.png) no-repeat;	
	padding:46px 0;
}
.left{
	width: 45px;
	height: 412px;
	background: url(../images/ht.png) no-repeat 20px;
}
.right{
	width: 73px;
	height: 412px;
	background: url(../images/logo.png) no-repeat 10px;
}
.content{
	width: 550px;
	background: #000;
	border: 1px #dcdcdc solid;
	padding: 0 5px 5px;
}
.top{
	height: 76px;
	padding:15px 0 4px;
	text-align: center; 	
}
.qiehuan{
	width: 261px;
  	height: 34px;
  	margin: 0 auto;
  	border: 1px solid #dcdcdc;
  	overflow: hidden;
 	border-radius: 4px;
}
.qiehuan #xunhuan{
	width:130px;
 	height: 34px;
 	border-right: 1px solid #dcdcdc;
  	font-size: 16px;
  	color: #000;
  	text-align: center;
  	line-height: 34px;
  	cursor: pointer;
  	background-color: #fff;
}
.qiehuan #shunxu{ 
	width:130px;
  	height: 34px;
  	font-size: 16px;
  	color: #fff;
  	text-align: center;
  	line-height: 34px;
  	cursor: pointer;
}
.top p{
	color:#8e8e8e;
	line-height: 40px;
}
.middle{
	height: 310px;
	position: relative;
}
#tips{
	position: absolute;
	top:10px;
	left: 50%;
	font-size: 16px;
	color: #fff;
}
#tittle{
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	width: 548px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.middle input{
	width: 40px;
	height: 50px;
	background: rgba(0,0,0,0.4);
	border-radius: 2px;
	font-size: 26px;
	color:#888581;
}
#prev{
	position: absolute;
	top:50%;
	left: 0;
}
#next{
	position: absolute;
	top:50%;
	right: 0;
}