.wrap{
      width: 1200px;
      height: 700px;
      margin: 0 auto;
      overflow: hidden;
      background: url(../images/bg.png) no-repeat;
    }
    .box{
      width:849px;
      height: 448px;
      margin: 175px auto;
      overflow: hidden;
      background: url(../images/box.png) no-repeat;
      border-radius: 1px;
    }
    .text{
      width: 330px;
      height: 390px;
      float: left;
      background-color: #fff;
      margin: 20px 14px;
      font-size: 14px;
      font-family: '宋体';
      line-height: 30px;
      color: #402196;
      box-sizing: border-box;
      padding: 15px;
    }
    .move{
      width: 100px;
      height: 80px;
      margin: 160px 10px 0;
      background: url(../images/move.png);
     
    }
    .middle{
      text-align: center;
      float: left;
    }
    #txt{
      margin-top: 20px;
      font-size: 16px;
      color:#7ee4fd;
    }