.wrap{
	width: 720px;
	height: 510px;
	background: url(../images/bg1.png) no-repeat left 83px, url(../images/bg.png) no-repeat;
	padding: 105px 160px 185px 120px;
}
.box{
	width: 720px;
	height: 445px;
	background: url(../images/biglogo.png) no-repeat,url(../images/logo.png) no-repeat 55px 122px,url(../images/ht.png) no-repeat 307px 23px #6cd2eb;
	border-radius: 2px;
	padding-top: 65px;
	position: relative;
}
.content{
	width: 530px;
	height: 350px;
	border:3px solid #000;
	margin-left:157px;
	position: relative;
}
.content .prev{
	position: absolute;
	top:50%;
	left:0;
	width: 25px;
	height: 46px;
	background: url(../images/z.png) no-repeat;
	z-index: 1;
}
.content .next{
	position: absolute;
	top:50%;
	right:0;
	width: 25px;
	height: 46px;
	background: url(../images/y.png) no-repeat;
}
.content img{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	transition: .3s linear;
}
.bottom{
	height: 42px;
	padding-top: 29px;
	margin-top: 18px; 
	background: url(../images/bt.png) no-repeat;
	text-align: center;
	word-spacing: 0;
	position: relative;
}
.bottom span{
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../images/yuan.png) no-repeat;
	margin-right: 17px;
}
b{
	position: absolute;
	top:-50px;
	left: 228px;
	width: 90px;
	height: 64px;
	background: url(../images/kk.png) no-repeat;
	padding:2px;
	display: none;
}
em{
	display: inline-block;
	width: 90px;
	height: 59px;
	background: url(../images/11.png);
}
.bottom .blue{
	background: url(../images/blue.png);
}